<h3 class="center white"><%= list.title %></h3>
<p class="center"><span class="author-name">by <a href="/users/<%= list.creator_id %>"><%= list.creator.full_name %></a></span></p>
<p class="center"><%= list.description %></p>