<div class="list-container">
  <h3 class="center white">Create a new list</h3>
  <form action="/lists" method="post">
    
    <%= erb :'lists/_list_form', locals: {list: @list} %>
    <button type="submit" class="btn btn-primary">Add some places >></button>
  </form>
</div>