<div class="input-group">
  <input type="text" class="form-control" placeholder="Email" name="user[email]" aria-describedby="basic-addon2">
  <span class="input-group-addon" id="basic-addon2">Email</span>
</div>

<div class="input-group">
  <input type="password" class="form-control" placeholder="Password" name="password" aria-describedby="basic-addon2">
  <span class="input-group-addon" id="basic-addon2">Password</span>
</div>
