<label class="user-form" for="email">Email: </label>
<input class="user-form" type="text" name="user[email]" placeholder="Email">
<label class="user-form" for="email">Password: </label>
<input class="user-form" type="password" name="password" placeholder="Password">