<div class="col-md-4" id="user-form-container">
  <h3 class="center">Login</h3>
  <%= erb :_errors, locals: {errors: @errors} %>
  <form action="/login" method="post">
    <%= erb :'users/_form' %>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
