<script>
    $('body').attr('id','macaroons')
</script>

<div class="col-md-4" id="user-form-container">
  <h3 class="center">Register</h3>
  <%= erb :_errors, locals: {errors: @errors} %>
  <form action="/users" method="post">
    <div class="input-group">
    <input type="text" class="form-control" placeholder="First Name" name="user[first_name]" aria-describedby="basic-addon2">
      <span class="input-group-addon" id="basic-addon2">First Name</span>
    </div>

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Last Name" name="user[last_name]" aria-describedby="basic-addon2">
      <span class="input-group-addon" id="basic-addon2">Last Name</span>
    </div>

    <%= erb :'users/_form' %>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
  
  

</div>