<div class="col-md-12">
    <form id="add-place-form" action="/lists/<%= @list.id %>/places" method="post">

      <div class="input-group">
        <input type="text" id="autocomplete" class="form-control" aria-describedby="basic-addon2">
        <span class="input-group-addon" id="basic-addon2">Search for a place</span>
      </div>

      <div class="place-preview">
        <div class="input-group">
          <input type="text" id="autocomplete" class="form-control" name="place[name]" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">Name</span>
        </div>
        <div class="input-group">
          <input type="text" id="autocomplete" class="form-control" name="place[address]" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">Address</span>

          <input type="text" id="autocomplete" class="form-control" name="place[neighborhood]" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">Neighborhood</span>
        </div>
        <div class="input-group">
          <input type="text" id="autocomplete" class="form-control" name="place[city]" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">City</span>

          <input type="text" id="autocomplete" class="form-control" name="place[state]" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">State</span>

          <input type="text" id="autocomplete" class="form-control" name="place[zip]" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">Zip</span>
        </div>
        <div class="input-group">
          <input type="text" id="autocomplete" class="form-control" name="place[phone_number]" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">Phone Number</span>

          <input type="text" id="autocomplete" class="form-control" name="place[website]" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">Website</span>
        </div>
      </div>

        
      <input type="hidden" name="place[google_id]" value="">
      <input type="hidden" name="place[google_maps_url]" value="">
      <input type="hidden" name="lists_place[user_id]" value="<%= current_user.id if current_user %>">

      <div class="form-group">
        <!-- <label for="comment">Comment:</label> -->
        <textarea name="lists_place[description]" class="form-control" rows="4" id="comment" placeholder="What would you say about this place?"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Add to list</button>
    </form> 
  </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCR_VqlNibuIv4AafIR-57abpvInGJOFFo&signed_in=true&libraries=places&callback=initService"
async defer></script>
  <script src="/js/autocomplete.js"></script>