<h3 class="center"><%= @list.title %></h3>
<p class="center"><span class="author-name">by <a href="/users/<%= @list.creator_id %>"><%= @list.creator.full_name %></a></span></p>
<p class="center"><%= @list.description %></p>
<div id="new-place-form-container">
  <div class="col-md-12">
    <form action="/places" method="post">
      <div class="input-group">
        <input type="text" id="autocomplete" class="form-control" name="place[name]" aria-describedby="basic-addon2">
        <span class="input-group-addon" id="basic-addon2">Search for a place</span>
      </div>
      <div class="form-group">
        <!-- <label for="comment">Comment:</label> -->
        <textarea class="form-control" rows="4" id="comment" placeholder="What would you say about this place?"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Add to list</button>
    </form>
  </div>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCR_VqlNibuIv4AafIR-57abpvInGJOFFo 
  &signed_in=true&libraries=places&callback=initService"
  async defer></script>
  <script src="/js/autocomplete.js"></script>
</div>