<!-- Not currently being used -->

<div id="new-place-form-container">

  <div class="list-info white">
    <%= erb :'lists/_details', locals: {list: @list} %>
  </div>

  <div class="panel-group" id="accordion">
    <% @list.lists_places.each do |lists_place| %>
      <% place = lists_place.place %>
      <%= erb :'places/_place_template', locals: { place: place, lists_place: lists_place } %>
    <% end %>
  </div>  

</div>